nav.menu
  ul.menu__list
    li.menu__item
      a.menu__link(href="javascript:;") About me
    li.menu__item
      a.menu__link(href="javascript:;") Skills
    li.menu__item
      a.menu__link(href="javascript:;") Portfolio
